*.pyc
*.zwc
*.log
*.idea
*.iml
*.code-workspacE
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.zst
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz
.z
.idea
.wget-hsts
.vscode/extensions/*
!.vscode/extensions/extensions.json
*.swp
Videos/
Pictures/
Downloads/
IdeaProjects/
Templates/
Dropbox/
Desktop/
Documents/
Development/
dev/
Music/
go/
.stack/
.cache/
caches/
.zoom/
.zi/
.vscode-oss/
.vim/
.thunderbird/
.sylpheed-2.0/
.steam*
.ssh/
!.ssh/config
.pki/
.pkg-cache/
.spamassassin/
.phoronix-test-suite/
.parallel/
.nvm/
.npm/
.node/
.mozilla/
.minikube/
.m2/repository/
*history*
.local/
.kde4/
.jdks/
.java/
.hyper_plugins/
.gradle/
.gnupg/
.electron-gyp/
.dropbox*/
.claws-mail/
.cargo/
.asdf/
.adobe-reader*/
.themes/
.tabnine/
.hyprland/
.docker/
.ghidra/
.wakatime-internal.cfg
.wakatime.bdb
.wakatime/
.nuget/
.quokka/
.wine/
.yuzu/
.dotnet/
.config/yadm/tags
.config/opera/
.config/evolution/
.config/discord/
.config/hexchat/
.config/zconvey/
.config/pulse/
.config/ranger/
.config/ibus/
.config/chromium/
.config/akonadi/
.config/Slack/
.config/Signal/
.config/Microsoft/
.config/JetBrains/
.config/Hyper/
.config/FontBase/
.config/Code - OSS/
.config/Bitwarden/
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-unstable
.config/1Password
.config/GitHub Desktop/
.config/BraveSoftware/
.config/google-chrome-*/
.config/shadow/
.config/spotify/
.config/microsoft-edge-dev/
.config/vivaldi/
.config/vivaldi-*/
.config/libreoffice/
.config/Mailspring/
.config/cef_user_data/
.config/wireshark/
.config/gtk-4.0/*.css
.config/gtk-4.0/assets/
.config/gtk-4.0/windows-assets/
.config/Code/
.config/HTTPie/
.config/TabNine/
.config/rncbc.org/
.config/configstore/
.config/fontforge/
.config/gedit/
.config/icon-explorer/
.config/jgit/
.config/lxqt/
.config/vlc/
.config/noisetorch/
.config/nautilus/
.config/QtProject.conf
.config/mimeapps.list
.config/obsidian/
.config/Stashpad/
.config/create-next-app-nodejs/
.config/filezilla/
.config/corectrl/
.config/nextjs-nodejs/
.config/sqlitebrowser/
.config/turborepo/
.config/dconf/
.config/heroic/
.config/goverlay/
.config/op/
.config/btop/btop.conf
.config/cava/
.config/imhex/
.config/Chiaki/
.config/TTKMM/
.config/shuttle/
.config/discord-screenaudio/
.config/dunst/dunstrc
.config/arkrc
.config/baloofileinformationrc
.config/Trolltech.conf
.config/com.vasilvestre.totkMM/
.config/heaptrack_gui
.config/kcachegrindrc
.config/trashrc
.config/session/
.config/kconf_updaterc
.config/kde.org/
.ocsysinfo/
.op/
.tsh/
