//registry.npmjs.org/:_authToken=1544fdeb-c33d-4bbc-a1a8-2dff348e1e7b
//npm.pkg.github.com/:_authToken=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
@inquonft:registry=https://npm.pkg.github.com
@banzar-team:registry=https://npm.pkg.github.com
@xenostale:registry=https://npm.pkg.github.com
