[Desktop Entry]
Name=1password autostartup
Exec=/usr/bin/1password --silent
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
